
  <div class ="page-header">
    <h1><%= @project.name %>: Manage Memberships</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/projects">Projects</a></li>
    <li><%=link_to @project.name, project_path(@project) %></li>
    <li class = "active">Memberships</li>
  </ol>

  <% if @membership.errors.any? %>
  <div id="error_explanation", class= "alert alert-danger">
    <h4><%= pluralize(@membership.errors.count, "error") %> prohibited this form from being saved:</h4>

    <ul>
      <% @membership.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <% @project.memberships.each do |member| %>
  <% if member.user_id == current_user.id %>

  <% if member.role == "owner" %>
      <div class="well form-inline col-md-8">
        <%= form_for [@project, @membership] do |f| %>
          <%= f.collection_select(:user_id, User.all, :id, :full_name, {include_blank: 'Please select a user...'}, {class: "form-control"}) %>
          <%= f.select(:role, Membership.roles.keys.map {|role| [role.titleize,role]}, {include_blank: false}, {class: "form-control"}) %>
          <input class = "btn btn-primary"<%= f.submit %></input>
        <% end %>
      </div>
  <% end %>

      <div class = "row form-inline col-md-8">
      <% @project.memberships.each do |membler| %>
        <div class="member form-group col-md-6">
          <%=link_to membler.user.full_name, user_path(membler.user_id) %>
        </div>
      <%= form_for [@project, membler], method: :put do |f| %>
        <div class="member form-group">
        <% if member.role == "owner" %>
          <%= f.select(:role, Membership.roles.keys.map {|role| [role.titleize,role]}, {include_blank: false}, {class: "form-control"}) %>
          <input class = 'btn btn-primary'<%= f.submit "Update"%></input>
          <%=link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe, project_membership_path(@project, membler), method: :delete, data: { confirm: 'Are you sure?' }%>

        <% else %>
          <%= member.role %>
          <% if current_user.id == membler.user_id %>
          <%=link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe, project_membership_path(@project, membler, :from => 'own_membership'), method: :delete, data: { confirm: 'Are you sure?' }%>
          <% end %>
        <% end %>
        </div>
        <% end %>
      <% end %>
      </div>

  <% end %>
  <% end %>
