<h1><%= @project.name %>: Manage Memberships</h1>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li><%=link_to @project.name, project_path(@project) %></li>
  <li class = "active">Memberships</li>
</ol>

<div class="well form-inline">
<%= form_for [@project, @membership] do |f| %>
<%= f.collection_select(:user_id, User.all, :id, :full_name, {include_blank: 'Please select a user...'}, {class: "form-control"}) %>
<%= f.select(:role, Membership.roles.keys.map {|role| [role.titleize,role]}, {include_blank: false}, {class: "form-control"}) %>
<input class = "btn btn-primary"<%= f.submit %>
<% end %>
</div>

<% @project.users.each do |member| %>
<%=link_to member.full_name %><br>
<% end %>
