<h1><%= @project.name %>: Manage Memberships</h1>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li><%=link_to @project.name, project_path(@project) %></li>
  <li class = "active">Memberships</li>
</ol>

<% if @membership.errors.any? %>
<div class = "col-md-offset-2">
<div id="error_explanation", class= "alert alert-danger">
  <h4><%= pluralize(@membership.errors.count, "error") %> prohibited this form from being saved:</h4>

  <ul>
    <% @membership.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
</div>
<% end %>

<div class="well form-inline">
<%= form_for [@project, @membership] do |f| %>
<%= f.collection_select(:user_id, User.all, :id, :full_name, {include_blank: 'Please select a user...'}, {class: "form-control"}) %>
<%= f.select(:role, Membership.roles.keys.map {|role| [role.titleize,role]}, {include_blank: false}, {class: "form-control"}) %>
<input class = "btn btn-primary"<%= f.submit %>
<% end %>
</div>

<% @project.users.each do |member| %>
<%=link_to member.full_name, user_path(member) %><br>
<% end %>
