<%= form_for([@project, @task], html: {class: "form-horizontal"}) do |f| %>
<%= render partial: "share/errors", locals: {error: @task} %>

    <div class="form-group">
        <label class="control-label col-md-2"><%= f.label :description %></label>
      <div class="col-md-4">
        <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2"><%= f.label :due_date %></label>
      <div class="form-controls col-md-4">
        <%= f.date_select :due_date, class: "form-control" %>
      </div>
    </div>

  <% unless @task.description == nil %>
    <div class="form-group">
      <label class="control-label col-md-2"><%= f.label :complete %></label>
      <div class="form-controls col-md-4">
        <%= f.check_box :complete %>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <div class="actions">
      <div class="col-md-offset-2 col-md-4">
        <input class="btn btn-primary"<%= f.submit %>
        <%= link_to 'Cancel', project_tasks_path(@project.id), class: "btn btn-default" %>
      </div>
    </div>
  </div>


<% end %>
