
<%= form_for(@user, url: signup_path) do |f| %>


<div class = "well col-md-4 col-md-offset-4">
  <h1>Sign Up for gCamp!</h1>

  <% if @user.errors.any? %>
  <div class="error_explanations">

      <% @user.errors.full_messages.each do |message| %>
      <div class = "errors"><%= message %></div>
      <% end %>
  </div>
  <% end %>



  <div class="form-group">
    <%= f.label :first_name, class: "control-label" %>
    <%= f.text_field :first_name, class: "form-control"%>
  </div>


  <div class="form-group">
    <%= f.label :last_name, class: "control-label" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "control-label" %>
    <%= f.password_field :password, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "control-label" %>
    <%= f.password_field :password, class: "form-control"%>
  </div>



  <div class="form-group">
    <input class="btn btn-primary"<%= f.submit%>
    <%= link_to 'Cancel', root_path, class: "btn btn-default" %>
  </div>
</div>
<% end %>
